# Hidden
.*

# Node
node_modules

# Env
!.env.example
!.env.test

# VS Code
!.vscode

# Git
!.gitignore

# NPM
!.npmrc
!.npmignore
package-lock.json

# Prettier
!.prettierignore
!.prettierrc.js

# Changesets
!.changeset

# Vite
vite.config.*.timestamp-*
