# Node
node_modules

# Hidden
.*

# Husky
!.husky

# VS Code
!.vscode

# ESLint
!.eslintrc.cjs

# Git
!.gitignore

# GitHub
!.github

# NPM
!.npmrc
!.npmignore

# NVM
!.nvmrc

# Commitzen
!.czrc

# Prettier
!.prettierignore
!.prettierrc.json

# Changesets
!.changeset
