# Node
node_modules

# Hidden
.*

# GitHub
!.github/

# Husky
!.husky/
.husky/_

# VS Code
!.vscode/

# Dev Container
!.devcontainer/

# Git
!.gitignore

# Env Example
!.env.example

# NPM
!.npmrc
!.npmignore

# Prettier
!.prettierignore
!.prettierrc.js
