//npm.pkg.github.com/:_authToken=${GH_PACKAGES_TOKEN}
@duncan3142:registry=https://npm.pkg.github.com
git-checks=true
shared-workspace-lockfile=false
publish-branch=main
access=restricted
strict-peer-dependencies=true
