# Node
node_modules

# Hidden
.*

# Husky
!.husky/_

# VS Code
!.vscode

# Git
!.gitignore

# GitHub
!.github

# PNPM
!.npmrc
pnpm-lock.yaml

# NVM
!.nvmrc

# Commitzen
!.czrc

# Prettier
!.prettierignore
!.prettierrc.json

# Changesets
!.changeset

# Packages
pkgs
