# Node
node_modules

# Hidden
.*

# Directories
*/

# Husky
!.husky/
.husky/_

# Actions
!actions

# VS Code
!.vscode

# Git
!.gitignore

# GitHub
!.github

# NPM
!.npmrc
package-lock.json

# Prettier
!.prettierignore
!.prettierrc.js

# Changesets
!.changeset

# Packages
pkgs
