//npm.pkg.github.com/:_authToken=${GITHUB_PKG_TOKEN}
@duncan3142:registry=https://npm.pkg.github.com
git-checks=true
publish-branch=main
access=restricted
auto-install-peers=true
strict-peer-dependencies=true
