name: Debug Workflow

on:
  push:
    branches: debug-workflow

concurrency:
  group: ${{ github.workflow_ref }}
  cancel-in-progress: true

env:
  GH_PKG_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  MONO_WORK_DIR: ${{ vars.PRETTIER_CONFIG_DIR }}
  MONO_LOG_LEVEL: debug
  EVENT_BRANCH: ${{ github.ref_name }}

jobs:
  cd:
    name: Debug
    runs-on: ubuntu-22.04
    steps:

      - name: CLI Auth
        uses: Duncan3142/mono/actions/cli-auth@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Env vars
        uses: Duncan3142/mono/actions/common-env@main
      - name: Bash scripts
        uses: Duncan3142/mono/shell/bash@main
      - name: Git scripts
        uses: Duncan3142/mono/shell/git@main

      - name: Debug
        run: |
          set -ueC
          set -o pipefail

          git-init --checkout "${EVENT_BRANCH}"

          cd "${MONO_WORK_DIR}"

          timber info 'tree -a --gitignore'
          tree -a --gitignore

          timber info 'tree -a'
          tree -a
